{% extends 'portfolio/base.html' %}

{% block content %}

<h1>Madan's Portfolio</h1>
{% load static %}

<img src="{% static 'portfolio/images.png' %}">
<br>
<a href="{% url 'blog:all_blogs' %}">Blog</a>


<br>
<br>
<br>
<a href="{% static 'portfolio/resume.pdf' %}">Resume</a>


{% for project in projects %}

<h2>{{ project.title }}</h2>
<br>
<p>{{ project.description }}</p>
<br>
<img src="{{ project.image.url }}">
<br>


{% if project.url %}
<br>
<a href="{{ project.url }}">Link</a>
<!-- this is a dummy  url i.e https://root.com -->
{% endif %}

{% endfor %}

{% endblock content %}